body {
	font-family: sans-serif;
}
header {
	text-align: center;
	margin-top: 4ex;
	margin-bottom: 4ex;
}
header h1 {
	font-size: 2em;
	font-family: monospace;
}
#question {
	text-align: center;
	margin-top: 6ex;
	margin-bottom: 6ex;
}
#spinner {
	text-align: center;
	display: none;
}

#summary {
	border: 1pt solid black;
	padding: 1ex 1em;
	width: 26em;
	margin: 1ex 1em;
}
.concept, .source {
	margin-top: 0.5ex; margin-bottom: 0.5ex;
}
.concept a, .source a {
	color: #0000dd;
	text-decoration: none;
}
.concept a:hover, .source a:hover {
	text-decoration: underline;
}
.wlogo {
	width: 1.1em;
	vertical-align: text-top;
}

#sources {
	border: 1pt solid black;
	padding: 1ex 1em;
	width: 26em;
	margin: 1ex 1em;
}

#answers {
	border: 1pt solid black;
	table-layout: fixed;
	padding: 1ex 1em;
	width: 28em;
	margin: 1ex 1em;
}
#answers .i {
	width: 2em;
}
#answers .text {
	width: 15em;
}
#answers .scorebar {
	width: 5em;
}
#answers .score {
	width: 3em;
	text-align: right;
}

/* Fade-out at right on overflow (ridiculously complex): */
#answers td {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
}
#answers td.text:after {
	content: "";
	pointer-events: none;
	position: absolute;
	width: 1em;
	height: 100%;
	top: 0; right: 0;

	background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.scorebar {
	height: 1.5ex;
	margin-top: 0; margin-bottom: 0;
	vertical-align: middle;
	text-align: left; margin-left: 0.25em; margin-right: 0.25em;
	border: 0pt;
}
